<h1 mat-dialog-title>Employee Form</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="half-field-left">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Placeholder" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="half-field-right">
    <mat-label>Middle Name</mat-label>
    <input matInput placeholder="Placeholder" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="half-field-left">
    <mat-label>Surname</mat-label>
    <input matInput placeholder="Placeholder" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="half-field-right">
    <mat-label>Second Surname</mat-label>
    <input matInput placeholder="Placeholder" />
  </mat-form-field>
  <app-selector placeholder="Select a City" [dropdownList]="cities"></app-selector>
</div>
