mat-form-field {
  width: 100%;
}

.half-field-left {
  width: 48%;
  margin-right: 4px;
}

.half-field-right {
  width: 48%;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.mat-radio-button {
  margin-bottom: 5px;
}
