<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <h2 matSubheader class="mt-2">CHALLENGES</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="challenge1"> <mat-icon>edit</mat-icon> Challenge 1 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Challenge 2 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Challenge 3 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Challenge 4 </a>
</mat-nav-list>
