@import "../../home/home.component.scss";

mat-toolbar {
  background-color: #f77733;
  z-index: 100;
}

.example-spacer {
  flex: 1 1 auto;
}

.challenge-name {
  color: white;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 24px;
  width: 100%;
}
